In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [11]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [12]:
pd.set_option('display.max_columns', None)

In [13]:
customer_df.columns = list(map(lambda x:x.lower(),customer_df.columns))
customer_df.columns = list(map(lambda x:x.replace(' ','_'),customer_df.columns))

In [14]:
# customer_df['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [15]:
categoricals = customer_df.select_dtypes(np.object)

<ipython-input-15-73457e22b280>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categoricals = customer_df.select_dtypes(np.object)

In [19]:
categoricals.head()

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [17]:
categoricals = categoricals.drop(['customer'], axis=1)

In [18]:
# Function to plot all variables
def plot_all(df):
    for column in df:
        sns.displot(x=column, data=df)

    return None

In [21]:
categoricals['state']sns.displot()

AttributeError: 'Series' object has no attribute 'displot'